<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtlonline.shop.mapper.store.StoreGoodsRequireExtMapper">
  <resultMap id="BaseResultMap" type="com.dtlonline.shop.model.store.StoreGoodsRequireExt">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="txnId" jdbcType="VARCHAR" property="txnId" />
    <result column="guaranteeType" jdbcType="TINYINT" property="guaranteeType" />
    <result column="guaranteeMessage" jdbcType="VARCHAR" property="guaranteeMessage" />
    <result column="returnDay" jdbcType="DATE" property="returnDay" />
    <result column="returnType" jdbcType="TINYINT" property="returnType" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastModifyTime" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, txnId, guaranteeType, guaranteeMessage, returnDay, returnType, createTime, lastModifyTime
  </sql>
</mapper>